.vscode/
.DS_Store/

# Byte-compiled / optimized / DLL files
*__pycache__/
*.py[cod]

# IPython Notebook checkpoints
*.ipynb_checkpoints/

# Downloaded resources, e.g., lanugage model binaries.
resources/
